{%- assign figure = site.data[site.metadata] | where: "objectid", include.objectid | first -%}
{%- capture image_link -%}{{ '/items/' | append: figure.objectid | append: '.html' | relative_url }}{% endcapture %}
{%- capture image_caption_title -%}{{ figure.title | escape }}{%- endcapture -%}
{%- capture image_caption_source -%}{{ figure.source | escape }}{%- endcapture -%}
{%- capture image_alt -%}{{ figure.image_alt_text | default: figure.description | default: figure.title }}{%- endcapture -%}
{%- capture image_date -%}{{ figure.date-scua-format }}{%- endcapture -%}
{%- capture image_src -%}{{ figure.image_small | default: figure.object_location | relative_url }}{%- endcapture -%}
{%- capture image_src_lg -%}{{ figure.object_location | relative_url }}{% endcapture %}

<div class="about-narrowed-content">
    <figure class="figure mx-4{% if include.width %} feature-w-{{ include.width }}{% endif %} feature-float-{{ include.float }}">
        <a class="spotlight gallery-img" data-download="false" title="{{ image_caption_title }}, {{ image_caption_source }}" href="{{ image_src_lg }}">
            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image_src }}" alt="{{ image_alt | default: image_caption | escape }}" class="figure-img img-fluid rounded lazyload">
        </a>
        {% unless include.caption == false %}<figcaption class="figure-caption text-center caption-color">{% if i contains "/" %}{{ image_caption }}{% else %}<strong>{{ image_caption_title }}</strong>, <strong>{{ image_date }}</strong>. <em>{{ image_caption_source }}</em>{% endif %}</figcaption>{% endunless %}
        <div class="text-center">
            {% if figure.object_transcript %}<button class="btn btn-outline-buttonblue mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTranscript_{{ figure.objectid }}" aria-expanded="false" aria-controls="collapseExample">View Transcript</button>{% endif %}
        </div>
    </figure>
    {% if figure.object_transcript %}
        <div class="collapse mt-3" id="collapseTranscript_{{ figure.objectid }}">
            <div class="card card-body text-start">
                {% assign transcript_type = figure.object_transcript | slice: 0,8 %}
                {% if transcript_type == 'objects/' %}
                {% assign transcript = site.pages | where: 'path',figure.object_transcript | first %}
                {{ transcript.content | markdownify }}
                {% else %}
                {{ figure.object_transcript | markdownify }}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>