{% comment %}

    Adds Bootstrap styled breadcrumbs to page.
    The crumbs are: Home (index.html) / Profiles / current page title (from the frontmatter, truncated to 10 words max).

{%- endcomment -%}
<ol class="breadcrumb pt-4">
    <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | relative_url }}">Home</a></li>
    <li class="breadcrumb-item text-dark">Profiles</li>
    <li class="breadcrumb-item active text-dark" aria-current="page">{{ page.title | truncatewords: 10 }}</li>
</ol>