<style>
    #home-banner {
        background-image: url('{{ "/assets/img/background_TR1.jpg" | relative_url }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #home-title-box {
        padding-top: 3em;
    }
    @media screen and (max-width: 576px) {
        #home-title-box {
            max-height: 500px;
            padding-top: 2em;
            padding-bottom: 1em;
        }
        .site-title {
            padding-left: 10px !important;
            font-size: 2.5em !important;
        }
        .site-tagline {
            padding-left: 10px !important;
        }
    }
    .site-title {
        font-size: 60px;
        padding-left: 250px;
    }
    .site-tagline {
        font-size: 30px;
        padding-left: 250px;
    }
</style>
<div id="home-banner" class="container-fluid mb-0 p-0">
    <div class="row align-items-center">
        <div id="home-title-box" class="col-md-10">
            <h1 class="mt-2 site-title"><a class="text-dark" href="{{ site.baseurl }}/" >{{ site.title }}</a></h1>	 
            {% if site.tagline %}<p class="site-tagline text-dark"><em>{{ site.tagline }}</em></p>{% endif %}
        </div>
        {% if site.organization-logo-banner %}
        <div class="col-md-3 d-none d-lg-block text-end">
            <a class="btn btn-outline-light" href="{{ site.organization-link }}" target="_blank" rel="noopener">
                <img class="img-fluid" src="{{ site.organization-logo-banner | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name | escape }} home" >
            </a>
        </div>
        {% endif %}
    </div>
</div>

<div class="navbar navbar-light bg-light shadow-sm">
        <nav
            class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#page-nav"
                    aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="page-nav">
                    <ul class="navbar-nav me-auto">
                        {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil'
                        -%}
                        {% for nav in navItems %}
                        {% if nav.stub %}
                        <li class="nav-item">
                            <a class="nav-link{% if page.url == nav.stub %} active{% endif %}"
                                href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                        </li>
                        {%- else -%}
                        <li class="nav-item dropdown">
                            {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent ==
                            nav.display_name' %}
                            {%- assign childStubs = navChildren | map: 'stub' -%}
                            <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}"
                                data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                aria-expanded="false">{{ nav.display_name }}</a>
                            <div class="dropdown-menu">
                                {% for c in navChildren %}
                                <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}"
                                    href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        {% endif %}
                        {%- endfor -%}
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle {% if page.url contains '/transcripts/'  %}active{%else%}{% endif %}"
                                data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                Interviews
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" style="z-index: 10;">
                                {% for transcript in site.transcripts %}
                                <a class="dropdown-item"
                                    href="{{ transcript.object-id | prepend: '/transcripts/' | relative_url }}.html">{{transcript.title}}</a>
                                {%endfor%}
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle {% if page.url contains '/profiles/'  %}active{%else%}{% endif %}"
                                data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                Profiles
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                {% for profile in site.profiles %}
                                <a class="dropdown-item"
                                    href="{{ profile.object-id | prepend: '/profiles/' | relative_url }}.html">{{
                                    profile.title }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</div>